.product {
    position: relative;
    width: 100%;
    max-width: 300px;
    height: auto;
    border: 1px solid #95A0A7;
    border-radius: 8px;
}

img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.product-name {
    margin: 0px 0px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: 0.0014em;
    color: #0E161A;
}

.product-info {
    margin-left: 14px;
    margin-bottom: 50px;
}

.product-info p {
    margin-top: 5px 0px;
}

.btn-cart {
    width: 100%;
    background-color: #FFE0B3;
    border: 1px solid #95A0A7;
    border-radius: 0px 0px 8px 8px;
    position: absolute;
    bottom: 0;
}

.btn-cart:hover {
    background-color: orange;
    border: none;
}

/* Mobile styles */
@media (max-width: 480px) {
    .product {
        max-width: 100%;
        margin-bottom: 20px;
    }

    .product-info {
        margin-left: 10px;
    }

    .btn-cart {
        font-size: 14px;
    }
}

/* Tablet styles */
@media (min-width: 481px) and (max-width: 768px) {
    .product {
        max-width: 100%;
        margin-bottom: 20px;
    }

    .product-info {
        margin-left: 10px;
    }
}

/* Desktop styles */
@media (min-width: 769px) {
    .product {
        max-width: 300px;
        margin-bottom: 50px;
    }

    .product-info {
        margin-left: 14px;
    }
}