form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: max-content;
    margin: 5% auto;
    padding: 1%;
    border-radius: 10px;
    box-shadow: 0 0 20px rgb(121, 237, 200);
}


label {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

input[type="email"],
input[type="password"] {
    height: 50px;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

input[type="email"],
input[type="password"] {
    width: 400px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
    box-sizing: border-box;
    border: 1px solid rgb(2, 189, 130);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


.LogIn {
    height: 40px;
    width: 400px;
    padding: 7px;
    border-radius: 5px;
    margin-top: 10px;
    border: 2px solid rgb(2, 189, 130);
    color: rgb(2, 189, 130);
    background-color: rgb(2, 189, 130);
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
    box-sizing: border-box;
    color: white;
    border: 1px solid rgb(2, 189, 130);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.LogIn:hover {
    background-color: white;
    color: rgb(2, 189, 130);
    border: 2px solid rgb(2, 189, 130);
}

.login-class {
    text-align: center;
    color: rgb(2, 189, 130);
    padding: 1% 5%;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.or_login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10px;

}

.google {
    height: 40px;
    width: 400px;
    padding: 7px;
    border-radius: 5px;
    margin-top: 10px;
    border: 2px solid rgb(232, 108, 108);
    color: white;
    background-color: rgb(232, 108, 108);
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
    box-sizing: border-box;
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.google:hover {

    background-color: white;
    color: rgb(232, 108, 108);
    border: 2px solid rgb(232, 108, 108);
}

.facebook {
    height: 40px;
    width: 400px;
    padding: 7px;
    border-radius: 5px;
    margin-top: 10px;
    border: 2px solid rgb(53, 53, 203);
    color: white;
    background-color: rgb(53, 53, 203);
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
    box-sizing: border-box;
    color: white;
    border: 1px solid rgb(2, 189, 130);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.facebook:hover {
    background-color: white;
    color: rgb(53, 53, 203);
    border: 2px solid rgb(53, 53, 203);
}

.Or_login_with {
    font-style: italic;
    font-weight: bold;
    padding: 10px 0px 5px 0px;
}

@media only screen and (max-width: 600px) {

    input[type="email"],
    input[type="password"],
    button[type="submit"] {
        width: 100%;
        width: 300px;
        margin: 10px 0;
    }
}