form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(232, 232, 232);
    width: max-content;
    margin: 5% auto;
    padding: 1%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


label {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

input[type="email"],
input[type="password"] {
    height: 50px;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

input[type="email"],
input[type="password"] {
    width: 400px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
    box-sizing: border-box;
    border: 1px solid rgb(232, 232, 232);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


button[type="submit"] {
    height: 40px;
    width: 400px;
    /* max-width: 500px; */
    padding: 7px;
    border-radius: 5px;
    margin-top: 10px;
    border: 2px solid rgb(16, 26, 96);
    color: rgb(16, 26, 96);
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
    box-sizing: border-box;
    border: 1px solid rgb(232, 232, 232);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

button[type="submit"]:hover {
    background-color: rgb(7, 13, 61);
    color: white;
}

.login-class {
    text-align: center;
    color: rgb(16, 26, 96);
    padding: 1% 5%;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 600px) {

    input[type="email"],
    input[type="password"],
    button[type="submit"] {
        width: 100%;
        width: 300px;
        margin: 10px 0;
    }
}