/* nav {
    position: absolute;
    width: 1440px;
    height: 80px;
    left: 0px;
    top: 0px;

} */

.header-content {
    background-color: rgb(7, 13, 61);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 5px 100px;

}

nav.header-content a {
    text-decoration: none;
    color: white;
    margin-left: 30px;
}

nav.header-content a:hover {
    color: orange;
}